<div style="padding-bottom: 15px">
    <h5 class="center">
      <b>Emergancy Department Sheet</b>
    </h5>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Date: {{InitialPhysicianAssesment.date}} </p>
    </div>
    <div class="col-md-6">
      <p>Hospital Name: {{InitialPhysicianAssesment.hospitalName}}</p>
    </div>
  </div>
  
  <div class="row">
      <div class="col-md-6">
          <p>Time of arrival: {{InitialPhysicianAssesment.timeOfArrival}} </p>
        </div>
        <div class="col-md-6">
          <p>Gender: {{InitialPhysicianAssesment.gender}}</p>
        </div>
  </div>
  
  <div class="row">
      <div class="col-md-6">
          <p>Arrival: {{InitialPhysicianAssesment.arrival}} </p>
        </div>
        <div class="col-md-6">
          <p>Mode Of Arrival: {{InitialPhysicianAssesment.modeOfArrival}}</p>
        </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
        <p>Information Obtained: {{InitialPhysicianAssesment.InformationObtained}}</p>
    </div>
    <div class="col-md-6">
      <p>Place Of Incident: {{InitialPhysicianAssesment.PlaceOfIncident}}</p>
    </div>
  </div>
