<div class="slider-container rev_slider_wrapper" style="height: 350px;">
  <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 350, 'disableProgressBar': 'on', 'navigation': {'bullets': {'enable': true, 'direction': 'vertical', 'h_align': 'right', 'v_align': 'center', 'space': 5}, 'arrows': {'enable': false}}}">
    <ul>
      <li data-transition="fade">
        <img src="../../../assets/img/demos/medical/slides/hos1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
         class="rev-slidebg">

        <div class="tp-caption main-label" data-x="left" data-hoffset="25" data-y="center" data-voffset="-5" data-start="1500" data-whitespace="nowrap"
         data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5; font-size: 1.5em; text-transform: uppercase;"
         data-mask_in="x:0px;y:0px;">20 Years Caring About You</div>

        <div class="tp-caption main-label" data-x="left" data-hoffset="25" data-y="center" data-voffset="-55" data-start="500" style="z-index: 5; text-transform: uppercase; font-size: 52px;"
         data-transform_in="y:[-300%];opacity:0;s:500;">Specialists</div>

        <div class="tp-caption bottom-label" data-x="left" data-hoffset="25" data-y="center" data-voffset="40" data-start="2000"
         style="z-index: 5; border-bottom: 1px solid #fff; padding-bottom: 3px;" data-transform_in="y:[100%];opacity:0;s:500;"
         style="font-size: 1.2em;">We are located in New York</div>
      </li>
      <li data-transition="fade">
        <img src="../../../assets/img/demos/medical/slides/hos2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
         class="rev-slidebg">

        <div class="tp-caption main-label" data-x="left" data-hoffset="25" data-y="center" data-voffset="-5" data-start="1500" data-whitespace="nowrap"
         data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5; font-size: 1.5em; text-transform: uppercase;"
         data-mask_in="x:0px;y:0px;">Talk to us now to schedule a medical appointment</div>

        <div class="tp-caption main-label" data-x="left" data-hoffset="25" data-y="center" data-voffset="-55" data-start="500" style="z-index: 5; text-transform: uppercase; font-size: 52px;"
         data-transform_in="y:[-300%];opacity:0;s:500;">Medical Appointment</div>

        <div class="tp-caption bottom-label" data-x="left" data-hoffset="25" data-y="center" data-voffset="40" data-start="2000"
         style="z-index: 5; border-bottom: 1px solid #fff; padding-bottom: 3px;" data-transform_in="y:[100%];opacity:0;s:500;"
         style="font-size: 1.2em;">Online or Over the Phone</div>
      </li>
      <li data-transition="fade">
        <img src="../../../assets/img/demos/medical/slides/hos3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
         class="rev-slidebg">

        <div class="tp-caption main-label" data-x="left" data-hoffset="25" data-y="center" data-voffset="-5" data-start="1500" data-whitespace="nowrap"
         data-transform_in="y:[100%];s:500;" data-transform_out="opacity:0;s:500;" style="z-index: 5; font-size: 1.5em; text-transform: uppercase;"
         data-mask_in="x:0px;y:0px;">Talk to us now to schedule a medical appointment</div>

        <div class="tp-caption main-label" data-x="left" data-hoffset="25" data-y="center" data-voffset="-55" data-start="500" style="z-index: 5; text-transform: uppercase; font-size: 52px;"
         data-transform_in="y:[-300%];opacity:0;s:500;">Medical Appointment</div>

        <div class="tp-caption bottom-label" data-x="left" data-hoffset="25" data-y="center" data-voffset="40" data-start="2000"
         style="z-index: 5; border-bottom: 1px solid #fff; padding-bottom: 3px;" data-transform_in="y:[100%];opacity:0;s:500;"
         style="font-size: 1.2em;">Online or Over the Phone</div>
      </li>
    </ul>
  </div>
</div>
