<div class="body">
    <div role="main" class="main">
        <div class="image">
        </div>
        <!-- Map BLock -->
        <div class="home-intro light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <br>
                        <div style=" width: 50% ">
                            <iframe style=" border-radius: 50%; border:1px solid rgb(243, 243, 243)" width="100%" height="110" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Malet%20St%2C%20London%20WC1E%207HU%2C%20United%20Kingdom+(Your%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                <a href="https://www.mapsdirections.info/en/custom-google-maps/"></a>
                                <a href="https://www.mapsdirections.info/en/"></a>
                            </iframe>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-3">
                        <h2 style=" line-height:0.6">El Gala</h2>
                        <p style="font-size: 1em">
                            <i class="fa fa-map-marker"></i> 1050 S Medical Dr (500 W) Brigham CityUT
                            <br>
                            <i class="fa fa-phone"></i> 84302 435-695-2700
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="lheight" style="font-size:1em"> 08 Am: 08 Pm</p>
                        <p class="lheight" style="font-size: 1em"> 
                            OVERALL PATIENT SATISFACTION
                            <br>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- about us -->
        <div class="container">
            <div class="row center">
                <div class="col-md-12">
                    <h1 class="word-rotator-title mb-sm">
                        About

                        <b>Abo El Reesh</b> hospital
                    </h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit
                        arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr class="tall">
                </div>
            </div>
        </div>
        <!-- Our services -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <ul class="history">
                        <li>
                            <div class="thumb">
                                <img src="../../../assets/img/doctor3.jpg" alt="" />
                            </div>
                            <div class="featured-box">
                                <h4 class="heading-primary">
                                    <strong>
                                  Our Doctors
                                    </strong>
                                </h4>
                                <div class="box-content">

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque
                                        eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing
                                        porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut
                                        nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                            <img src="../../../assets/img/download2.jpg" alt="" />
                            </div>
                            <div class="featured-box">
                                <h4 class="heading-primary">
                                    <strong>Our Departments</strong>
                                </h4>
                                <div class="box-content">

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque
                                        eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing
                                        porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut
                                        nulla at nunc vehicula lacinia.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="../../../assets/img/download6.jpg" alt="" />
                            </div>
                            <div class="featured-box">
                                <h4 class="heading-primary">
                                    <strong>Our Medical Sevices</strong>
                                </h4>
                                <div class="box-content">

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque
                                        eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing
                                        porta tellus, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                                        pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula
                                        lacinia. Proin adipiscing porta tellus, Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque
                                        ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus,</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <img src="../../../assets/img/hospital4.jpg" alt="" />
                            </div>
                            <div class="featured-box">
                                <h4 class="heading-primary">
                                    <strong>Hospital Information</strong>
                                </h4>
                                <div class="box-content">

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque
                                        eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing
                                        porta tellus, Curabitur pellentesque neque eget diam posuere porta. Quisque ut
                                        nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, Curabitur pellentesque
                                        neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin
                                        adipiscing porta tellus,</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr class="tall">
                </div>
            </div>
        </div>
    </div>
</div>