<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
  <nav class="row">
    <div>
      <ul class="nav nav-pills" id="mainNav">
        <li routerLinkActive="active">
          <a routerLink="/home">
            Home
          </a>

        </li>
        <li class="">
          <a href="demos.html">
            About Us
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/departments">
            Departments
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/doctors">
            Our Doctors
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/contactUs">
            Contact Us
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>