<div role="main" class="main">
  <section class="page-header section section-primary section-no-border section-center page-header-custom-background m-none">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center">
          <h1 class="font-weight-bold text-light text-uppercase">Departments
            <span>Learn more about our departments</span>
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="p-xlg">
    <div class="container">
   <router-outlet></router-outlet>
    </div>
  </section>
</div>
