
<form>

<div class="row">
  <div class="dropdownoption form-group">
      <div class="col-md-6">
        <label class="control-label col-md-4"> Doctor's Name :    </label>
          <input class="inpts col-md-3 " list="drsname">
          <datalist id="drsname">
            <option value="Ahmed">
            <option value="mohamed">
            <option value="ali">
            <option value="hassan">
            <option value="hossam">
          </datalist>
      </div>  
  </div>
 
</div>
<div class="row">
    <div class="dropdownoption form-group">
        <div class="col-md-6">
          <label  class="control-label col-md-4"> Departments Name  :  </label>
            <input  class="inpts  col-md-3" list="deptname">
            <datalist id="deptname">
              <option value=" Ic">
              <option value="emergency">
              <option value="dentist">
              <option value="eyes">
            </datalist>
        </div>
    </div>
</div>
<div class="row">
    <div class="dropdownoption form-group">
        <div class="col-md-6">
          <label  class="control-label col-md-4"> Date : </label>
            <input   class="inpts " type="date" >
        </div>
    </div>
</div>

<div class="row">
    <div class="dropdownoption form-group">
        <div class="col-md-6">
          <label  class="control-label col-md-4"> Time : </label>
            <input   class="inpts " type="time" >
        </div>
    </div>
</div>



<button type="button" class="btn btn-info ">Send</button>
</form>
