<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="tabs tabs-bottom tabs-left tabs-simple">
        <ul class="nav nav-tabs">
          <li class="">
            <a href="#tabsNavigationSimple1" data-toggle="tab" aria-expanded="false">Initial physician assesment</a>
          </li>
          <li class="">
            <a href="#tabsNavigationSimple2" data-toggle="tab" aria-expanded="false">Admission Office&Pt.i.D</a>
          </li>
          <li>
            <a href="#tabsNavigationSimple3" data-toggle="tab">H & P Physician Progress</a>
          </li>
          <li class="active">
            <a href="#tabsNavigationSimple4" data-toggle="tab" aria-expanded="true">Consultation & therapy</a>
          </li>
          <li class="">
            <a href="#tabsNavigationSimple5" data-toggle="tab" aria-expanded="true">Physician Sheet</a>
          </li>
        </ul>
        <div class="tab-content">
          <!--=====assesment=======-->
          <div class="tab-pane" id="tabsNavigationSimple1">
            <div class="left">
              <div class="left" style="border: grey 2px solid; padding:25px">
                <div style="padding-bottom: 15px">
                  <h4 class="center">
                    <b>Emergancy Department Sheet</b>
                  </h4>
                </div>
                <div class="row">
                  <label class="col-md-2 control-label">Date</label>
                  <input class="col-md-2" type="date" name="date">
                  <label class="col-md-offset-2 col-md-2 control-label">Hospital Name</label>
                  <input class="col-md-2" type="text" name="Hospital">


                </div>
                <br>
                <div class="row">
                  <label class="col-md-2 control-label">Time of arrival</label>
                  <input class="col-md-2" type="time" name="time">


                  <div class="form-group">
                    <label class="col-md-offset-2 col-md-2 control-label">Gender</label>
                    <div class="col-md-4">
                      <select class="form-control" data-plugin-multiselect="" id="ms_example1" style="display: none;">
                        <option value="male" selected="">male</option>
                        <option value="female">female</option>

                      </select>
                      <div class="btn-group">
                        <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="none" aria-expanded="false">none
                          <b class="caret"></b>
                        </button>
                        <ul class="multiselect-container dropdown-menu">
                          <li class="active">
                            <a href="javascript:void(0);">
                              <label class="radio">
                                <input type="radio" name="multiselect" value="male">male</label>
                            </a>
                          </li>
                          <li class="">
                            <a href="javascript:void(0);">
                              <label class="radio">
                                <input type="radio" name="multiselect" value="female"> female</label>
                            </a>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">

                  <label class="col-md-2 control-label">Arrival </label>
                  <form class="col-md-3 " style="display: inline-block;">
                    <input type="radio" name="arrival" value="alone"> Alone
                    <input type="radio" name="arrival" value="Accompanied"> Accompanied

                  </form>




                  <label class="col-md-offset-1 col-md-2 control-label">Mode Of Arrival </label>
                  <form class="col-md-4" style="display: inline-block;">
                    <input type="radio" name="mode" value="Ambulance"> Ambulance
                    <input type="radio" name="mode" value="auto"> Auto
                    <input type="radio" name="mode" value="Walk-in"> Walk-in
                    <input type="radio" name="mode" value="Other"> Other


                  </form>





                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <label class="col-md-4 control-label">Information Obtained </label>
                      <form class="col-md-6 " style="display: inline-block;">
                        <input type="radio" name="information" value="Patient"> Patient
                        <input type="radio" name="information" value="Family"> Family

                      </form>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <label class=" col-md-4 control-label">Place Of Incident </label>
                      <form class="col-md-6" style="display: inline-block;">
                        <input type="radio" name="place" value="Home"> Home
                        <input type="radio" name="place" value="Work"> Work
                        <input type="radio" name="place" value="School"> School
                        <input type="radio" name="place" value="Other"> Other

                      </form>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>

          <!--===============admission============-->
          <div class="tab-pane" id="tabsNavigationSimple2">
            <div class="left">

            </div>
          </div>
          <!-- ===========physician progress==============-->
          <div class="tab-pane" id="tabsNavigationSimple3">
            <div class="left" style="border: grey 2px solid; padding:25px">
              <div style="padding-bottom: 15px">
                <h4 class="center">
                  <b>Physician Progress Notes</b>
                </h4>
              </div>
              <div class="row">
                <label class="col-md-2 control-label">Date</label>
                <input class="col-md-2" type="date" name="date">
                <label class="col-md-offset-2 col-md-2 control-label">Hospital Name</label>
                <input class="col-md-2" type="text" name="Hospital">
                <br>

              </div>
              <br>

              <div class="row">


                <div class="form-group">
                  <label class="col-md-2 control-label" for="textareaAutosize">Current Status</label>
                  <div class="col-md-10">
                    <textarea class="form-control" rows="30" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; word-wrap: break-word; resize: none; height: 150px;"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">


                <div class="form-group">
                  <label class="col-md-2 control-label" for="textareaAutosize">Relevant Findings</label>
                  <div class="col-md-10">
                    <textarea class="form-control" rows="30" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; word-wrap: break-word; resize: none; height: 150px;">New Events</textarea>
                  </div>
                </div>
              </div>
              <div class="row">


                <div class="form-group">
                  <label class="col-md-2 control-label" for="textareaAutosize">Active Problems</label>
                  <div class="col-md-10">
                    <textarea class="form-control" rows="30" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; word-wrap: break-word; resize: none; height: 150px;">Complications</textarea>
                  </div>
                </div>
              </div>
              <div class="row">


                <div class="form-group">
                  <label class="col-md-2 control-label" for="textareaAutosize">Plan</label>
                  <div class="col-md-10">
                    <textarea class="form-control" rows="30" id="textareaAutosize" data-plugin-textarea-autosize="" style="overflow: hidden; word-wrap: break-word; resize: none; height: 150px;">Mention new investigations,lab orders, drugs added or stopped</textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <a href="#" class="btn btn-info btn-lg col-md-offset-11 override ">
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </div>

            </div>
          </div>
          <!--======================consultation================-->
          <div class="tab-pane active" id="tabsNavigationSimple4">
            <div class="left" style="border: grey 2px solid; padding:25px">
              <div style="padding-bottom: 15px">
                <h4 class="center">
                  <b>Consultation Order</b>
                </h4>
              </div>
              <div class="row">
                <label class="col-md-2 control-label">Date</label>
                <input class="col-md-2" type="date" name="date">
                <label class="col-md-offset-2 col-md-2 control-label">Hospital Name</label>
                <input class="col-md-2" type="text" name="Hospital">

              </div>
              <br>
              <div class="form-group row">
                <label class="col-md-2 control-label">To Department</label>
                <div class="col-md-4">
                  <select class="form-control" multiple="multiple" data-plugin-multiselect="" data-plugin-options="{ &quot;enableCaseInsensitiveFiltering&quot;: true }"
                    id="ms_example6" style="display: none;">
                    <optgroup label="Mathematics">
                      <option value="analysis">Analysis</option>
                      <option value="algebra">Linear Algebra</option>
                      <option value="discrete">Discrete Mathematics</option>
                      <option value="numerical">Numerical Analysis</option>
                      <option value="probability">Probability Theory</option>
                    </optgroup>
                    <optgroup label="Computer Science">
                      <option value="programming">Introduction to Programming</option>
                      <option value="automata">Automata Theory</option>
                      <option value="complexity">Complexity Theory</option>
                      <option value="software">Software Engineering</option>
                    </optgroup>
                  </select>
                  <div class="btn-group">
                    <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected
                      <b class="caret"></b>
                    </button>
                    <ul class="multiselect-container dropdown-menu">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-search"></i>
                        </span>
                        <input class="form-control multiselect-search" type="text" placeholder="Search">
                      </div>
                      <li>
                        <label class="multiselect-group">Mathematics</label>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="analysis"> Analysis</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="algebra"> Linear Algebra</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="discrete"> Discrete Mathematics</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="numerical"> Numerical Analysis</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="probability"> Probability Theory</label>
                        </a>
                      </li>
                      <li>
                        <label class="multiselect-group">Computer Science</label>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="programming"> Introduction to Programming</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="automata"> Automata Theory</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="complexity"> Complexity Theory</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="software"> Software Engineering</label>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <label class="col-md-2 control-label">From Department</label>
                <div class="col-md-4">
                  <select class="form-control" multiple="multiple" data-plugin-multiselect="" data-plugin-options="{ &quot;enableCaseInsensitiveFiltering&quot;: true }"
                    id="ms_example6" style="display: none;">
                    <optgroup label="Mathematics">
                      <option value="analysis">Analysis</option>
                      <option value="algebra">Linear Algebra</option>
                      <option value="discrete">Discrete Mathematics</option>
                      <option value="numerical">Numerical Analysis</option>
                      <option value="probability">Probability Theory</option>
                    </optgroup>
                    <optgroup label="Computer Science">
                      <option value="programming">Introduction to Programming</option>
                      <option value="automata">Automata Theory</option>
                      <option value="complexity">Complexity Theory</option>
                      <option value="software">Software Engineering</option>
                    </optgroup>
                  </select>
                  <div class="btn-group">
                    <button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="None selected">None selected
                      <b class="caret"></b>
                    </button>
                    <ul class="multiselect-container dropdown-menu">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-search"></i>
                        </span>
                        <input class="form-control multiselect-search" type="text" placeholder="Search">
                      </div>
                      <li>
                        <label class="multiselect-group">Mathematics</label>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="analysis"> Analysis</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="algebra"> Linear Algebra</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="discrete"> Discrete Mathematics</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="numerical"> Numerical Analysis</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="probability"> Probability Theory</label>
                        </a>
                      </li>
                      <li>
                        <label class="multiselect-group">Computer Science</label>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="programming"> Introduction to Programming</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="automata"> Automata Theory</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="complexity"> Complexity Theory</label>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <label class="checkbox">
                            <input type="checkbox" name="multiselect" value="software"> Software Engineering</label>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>


              <div class="row">
                <label class="col-md-2 control-label">Reason For Request</label>

                <div class="col-md-10">
                  <textarea name="Reason" rows="12" cols="100">
                                          
                                          </textarea>

                </div>
              </div>
              <br>
              <div class="row">
                <label class="col-md-2 control-label">Response For Request</label>

                <div class="col-md-10">
                  <textarea name="Reason" rows="12" cols="100">
                                              
                                              </textarea>

                </div>
              </div>

            </div>
          </div>
          <!--==================physician sheet==========-->
          <div class="tab-pane active" id="tabsNavigationSimple5">
            <div class="left" style="border: grey 2px solid; padding:25px">



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>