<div class="container">


<div class="row">
  <div class="col-md-6 profpic">
    <img src="../../../assets/img/detail.jpg" width="400" height="300">


  </div>
  <div class="col-md-6">
    <div class="row detailsaboutdr ">
      <div class="col-md-10 text-center topics">

        <h2> sara sara </h2>
        <h3> doctor doctor </h3>

        <div class="row">
          <div class="total-rates">

            <i class="fa fa-star orange"></i>
            <i class="fa fa-star orange"></i>
            <i class="fa fa-star orange"></i>
            <i class="fa fa-star orange"></i>
            <i class="fa fa-star-half orange"></i>

          </div>
        </div>

      </div>
      <div class="col-md-1">
        <div class=" icon-edit">
          <i class="fa fa-edit fa-lg orange"></i>
        </div>
      </div>


    </div>

  </div>





</div>
<div class="row rowabout">
  <div class="col-md-6 ">
    <div class="aboutdr">
      <h2> About Me</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ullam enim reprehenderit iste explicabo laudantium?
        Quae ipsum libero labore enim culpa nostrum, nesciunt, autem quod quia commodi odio incidunt qui.
        <!-- <p class="hiddenabout"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum doloribus praesentium impedit optio adipisci,
              alias perferendis quod vero numquam doloremque vitae aliquid eos esse, nemo ex fuga distinctio ab? </p> -->
      </p>
      <button class="btn btn-primary readmorebutton"> Read More </button>


    </div>
  </div>
  <div class="col-md-6">

    <div class="block-personaldetails">
      <h4 class="text-center"> Personal Details</h4>
      <div class="row">
        <div class="col-md-6 firstrowdetails">
          <p> Birthday:
            <span> 1990 October 2</span>
          </p>

          <p> Marital:
            <span> Single</span>
          </p>
          <p> Nationality:
            <span> American</span>
          </p>
          <p></p>
        </div>

        <div class="col-md-6 secondrowdetails">
          <p> Skype:
            <span> yourskype</span>
          </p>
          <p> PHONE:
            <span> 23-456-789</span>
          </p>
          <p> EMAIL:
            <span> info@domain.com</span>
          </p>
          <p></p>
        </div>

      </div>
    </div>



  </div>

</div>

<div class="row">
  <div class="col-md-2">
    <h3 class="experiencedoctor"> ExPERIENCE</h3>
    <div class="line">
      <div class="circleinline"></div>
    </div>
  </div>
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-4">
        <div class="experience-block">

          <div class="rangeexp text-center">

            <p> From
              <span> To</span>
            </p>
            <div> sep2017
              <span> oct 2020</span>
            </div>
            <div class="nameofcompany"> ITI </div>
            <p class="placeofcompany"> smart village </p>
          </div>

          <div class="triangle triangle-2"></div>

        </div>

      </div>

      <div class="col-md-8">
        <div class="detailsofexp">
          <h4> bla bla bla </h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores quisquam aliquid deserunt, nemo adipisci magni
            facere, maxime modi vel eaque deleniti iure provident voluptas magnam quam possimus perspiciatis beatae praesentium.
          </p>

        </div>


      </div>
    </div>


  </div>

</div>


<div class="row">
  <div class="col-md-10">
    <section id="education" class="section  ">
      <h2 class="text-color-quaternary text-uppercase ">Education</h2>

      <div class="row">
        <div class="col-md-10">
          <div class="owl-carousel nav-bottom custom-carousel-style-1 custom-item-padding custom-dots-style-1" data-plugin-options="{'items': 1, 'loop': false, 'dots': true, 'nav': false}">
            <div>
              <div class="col-md-6 col-sm-6">
                <div class="custom-box-details-2 background-color-light custom-box-shadow-3">
                  <i class="icon-graduation icons text-color-primary"></i>
                  <h4 class="font-weight-semibold text-color-dark m-none">helwan University</h4>
                  <p class="custom-text-color-2 mb-xs">Master of Information Technology</p>
                  <strong class="text-color-primary">2001-2015</strong>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="custom-box-details-2 background-color-light custom-box-shadow-3">
                  <i class="icon-graduation icons text-color-primary"></i>
                  <h4 class="font-weight-semibold text-color-dark m-none">helwan University</h4>
                  <p class="custom-text-color-2 mb-xs">Master of Information Technology</p>
                  <strong class="text-color-primary">2001-2015</strong>
                </div>
              </div>
            </div>
            <div>
              <div class="col-md-6 col-sm-6">
                <div class="custom-box-details-2 background-color-light custom-box-shadow-3">
                  <i class="icon-graduation icons text-color-primary"></i>
                  <h4 class="font-weight-semibold text-color-dark m-none">helwan University</h4>
                  <p class="custom-text-color-2 mb-xs">Master of Information Technology</p>
                  <strong class="text-color-primary">2001-2015</strong>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="custom-box-details-2 background-color-light custom-box-shadow-3">
                  <i class="icon-graduation icons text-color-primary"></i>
                  <h4 class="font-weight-semibold text-color-dark m-none">helwan University</h4>
                  <p class="custom-text-color-2 mb-xs">Master of Information Technology</p>
                  <strong class="text-color-primary">2001-2015</strong>
                </div>
              </div>
            </div>
            <div>
              <div class="col-md-6 col-sm-6">
                <div class="custom-box-details-2 background-color-light custom-box-shadow-3">
                  <i class="icon-graduation icons text-color-primary"></i>
                  <h4 class="font-weight-semibold text-color-dark m-none">helwan University</h4>
                  <p class="custom-text-color-2 mb-xs">Master of Information Technology</p>
                  <strong class="text-color-primary">2001-2015</strong>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="custom-box-details-2 background-color-light custom-box-shadow-3">
                  <i class="icon-graduation icons text-color-primary"></i>
                  <h4 class="font-weight-semibold text-color-dark m-none">helwan University</h4>
                  <p class="custom-text-color-2 mb-xs">Master of Information Technology</p>
                  <strong class="text-color-primary">2001-2015</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

</div>

<div class="row">
  <h3 class="experiencedoctor"> AWARDS</h3>
  <ul class="portfolio-list">
    <li class="col-md-4 col-sm-6 col-xs-12">
      <div class="portfolio-item">
        <a href="">
          <span class="thumb-info thumb-info-lighten">
            <span class="thumb-info-wrapper">
              <img src="../../../assets/img/detail.jpg" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">prize1</span>
                <span class="thumb-info-type">1-1-2222</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon">
                  <i class="fa fa-link"></i>
                  <p> sara hossam</p>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </li>
    <li class="col-md-4 col-sm-6 col-xs-12">
      <div class="portfolio-item">
        <a href="">
          <span class="thumb-info thumb-info-lighten">
            <span class="thumb-info-wrapper">
              <img src="../../../assets/img/detail.jpg" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">prize1</span>
                <span class="thumb-info-type">1-1-2222</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon">
                  <i class="fa fa-link"></i>
                  <p> sara hossam</p>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </li>

    <li class="col-md-4 col-sm-6 col-xs-12">
      <div class="portfolio-item">
        <a href="">
          <span class="thumb-info thumb-info-lighten">
            <span class="thumb-info-wrapper">
              <img src="../../../assets/img/detail.jpg" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">prize1</span>
                <span class="thumb-info-type">1-1-2222</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon">
                  <i class="fa fa-link"></i>
                  <p> sara hossam</p>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </li>

    <li class="col-md-4 col-sm-6 col-xs-12">
      <div class="portfolio-item">
        <a href="">
          <span class="thumb-info thumb-info-lighten">
            <span class="thumb-info-wrapper">
              <img src="../../../assets/img/detail.jpg" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">prize1</span>
                <span class="thumb-info-type">1-1-2222</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon">
                  <i class="fa fa-link"></i>
                  <p> sara hossam</p>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </li>
    <li class="col-md-4 col-sm-6 col-xs-12">
      <div class="portfolio-item">
        <a href="">
          <span class="thumb-info thumb-info-lighten">
            <span class="thumb-info-wrapper">
              <img src="../../../assets/img/detail.jpg" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">prize1</span>
                <span class="thumb-info-type">1-1-2222</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon">
                  <i class="fa fa-link"></i>
                  <p> sara hossam</p>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </li>

  </ul>


</div>

</div>