<div style="padding-bottom: 15px">
  <h5 class="center">
    <b>Physician Progress Notes</b>
  </h5>
</div>
<div class="row">
  <div class="col-md-6">
    <p>Date: {{hp.date}} </p>
  </div>
  <div class="col-md-6">
    <p>Hospital Name: {{hp.hospitalName}}</p>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Current Status: {{hp.Current}} </p>
      </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Relevant Findings: {{hp.relevantFindings}} </p>
      </div>
</div>

<div class="row">
  <div class="col-md-12">
      <p>Active Problems: {{hp.activeProblems}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <p>Plan: {{hp.Plan}}</p>
  </div>
</div>
