<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<img id="PP" [src]="patient.image" [alt]="patient.firstName">
				<div class=" text text-center">
					<div class="row" id="row">
						<div class="col-md-8">
								<p>{{patient.firstName+' '+ patient.lastName}}</p>
						</div>
						<div class="col-md-4">
							<a class="btn btn-primary" href="#"><img id="icon" src="./assets/img/new-24-512.png" alt="edit icon">Edit</a>
						</div>
					</div>
					<hr/>
					<div class="row">
						<ul>
							<li>Gender: {{patient.gender}}</li>
							<li>Age: {{patient.age}}</li>
							<li>Birth Day: {{patient.DOB}}</li>
							<li>Phone: {{patient.phone}}</li>
							<li>Address: {{patient.address}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 medical">
			
		</div>
	</div>
</div>