.container{
    margin-top: 15px;
}

img#PP{
    width: 100%;
    height: 240px;
}

img#icon{
    width: 15px;
    padding-right: 2px;
}

ul {
    list-style-type: none;
    margin-top: -10px;
    margin-bottom: 10px;
}

ul li{
    text-align: left;
}

p{
    font-weight: 600;
    font-size: 14px;
    margin-left: 12px;
}

div#row{
    margin-top: 15px;
}

div#row button{
    margin: -4px 0px 0px -20px
}

hr{
    margin-top: 0px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

.medical{
    border: 1px solid lightgray;
}