/* Add here all your CSS customizations */

.menu {
    position: fixed;
    top: 134px;
    left: 0;
    height: 100vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
  }
  .menu li a{
      display:block;
      height:3.5em;
      width:6em;
      text-indent:-500em;
      line-height:5em;
      text-align:center;
      color: #fff3f5;
      background: #008fe2;
      position: relative;
      /* border-bottom: 1px solid #ffe2e3; */
      transition: background 0.3s ease-in-out;
  }
  /*#1d2654*/
  .menu li a:before {
    font-family: FontAwesome;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
  }
  .menu li a:hover{
    background: #a7a8ad;
    color: #fff;
  }
  .menu li.current a {
    background: #ff5e5e;
    color: #fff;
  }
  .menu li a.active {
    background: #8e8f94;
    color: #fff3f5;
  }
  .menu li a.active:after{
      position:absolute;
      left:5em;
      top:0;
      content:"";
      border:2.5em solid transparent;
      border-left-color:#8e8f94;
      border-width: 2.5em 1em
  }
  .menu li{
      position:relative;
  }
  .menu li:after{
      content: attr(title);
      position:absolute;
      left:5em;
      top:0;
      width:14em;
      height:3.5em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-transform:uppercase;
      background:#8e8f94;
      color: #fff3f5;
      padding:0.8em 2em;
      transition: all 0.3s ease-in-out;
      visibility:hidden;
      opacity:0;
      font-weight: 700;
  }
  .menu li:hover:after{
      visibility:visible;
      opacity:1;
  }
  @media screen and (max-height: 34em){
    .menu li{
      font-size:70%;
    }
      
  }

  .menu li a.dashboard:before {
    content: "\f015";
  }
  .menu li a.doctors:before {
    content: "\f0f0";
  }
  .menu li a.patients:before {
    content: "\f0c0";
  }
  .menu li a.add-prescription:before {
    content: "\f14b";
  }
  .menu li a.schedule:before {
    content: "\f073";
  }
  .menu li a.appointment:before {
    content: "\f017";
  }
  .menu li a.messages:before {
    content: "\f1d7";
  }
  
  .menu li a.reports:before {
    content: "\f0f6";
  }
 
  
  
/* _________________________________header-bar____________________________________- */
.header-bar{
background-color: #008fe2;
height: 57px;
margin-top: 55px;
}
.header-bar .pages-path div{

    margin-left: 20px;
    font-size: 21px;
    color:#2b2a2a;
    font-weight: bold;
    padding-top: 13px;
    cursor: pointer
} 
.header-bar .pages-path div:hover{
  color: #eee;
}
 .header-bar .pages-path div span {
    font-size: 15px;
    color: #eee;
    padding-left: 20px;
 cursor: pointer;
}
.img-profile{
    margin-right: -10px;
   padding-bottom: 5px;
  
}
.downarrow-menu{
  padding-left: -10px;
  margin-left: -10px;
  position: relative;
  top: 3px;
}
.social-links li a:hover{
    text-decoration:none;
}
.header-bar .social-links li{
    padding-top: 10px;
    padding-right: 10px;
    /* border: 1px solid #dddcdc; */
    border-radius: 50%;
    /* background-color: #eee; */
    cursor: pointer;

}
  .var-page{
  color: #2b2a2a !important;
  font-weight: bold;
  margin-left: -18px;
 }
 .logo-for-dr span a {
   color:#eee;
 }
.dropdown-menu{
    margin-left: 15px;
    width: 93%;
    border-top: 5px solid #08c;
    
}
.right{
    margin-right: -636px;
}
.header-bar .social-links li span{
color: rgb(43, 42, 42);
padding-left: 10px;
font-size: 17px;
}
.header-bar .social-links li span:hover{
    color:#fff3f5;
}
.badgee{
background-color: #eee;
border-radius: 50%;
padding: 0px 2px;
margin-left: -10px;
position: relative;
margin-left: -12px;
top: -9px;
}
.search-header input{
  width: 20%;
}
.search-header input:hover{
width: 35%;
}

/* __________________________________ profile part____________________________-- */
.part-prof{
  height: 270px;
  background-color: #f6f8f8;
  margin-top: 80px;
  margin-left: 0px;
}
.part-prof img , .profiledr img{
 margin-left: 20px;
margin-top: 20px;
border-radius: 20px;
box-shadow: 7px 9px  14px #4C4C4A;
transition: all ease 0.5s;
}
.part-prof img:hover , .profiledr img:hover{
  transform: scale(1.1,1.1);
}
.proff{
  margin-top:54px; 
}
.part-prof .ask-prof p  , .profiledr .ask-prof p {
  
  font-weight: bold;
  font-size: 20px;
  color: #0088cc;
  line-height: 20px;
  text-transform: capitalize;
}
.part-prof  .values-prof p , .profiledr .values-prof p {
  line-height: 20px;
  font-size: 18px;
  text-transform: capitalize;
}
.prof-tab{
  margin-top: 40px;
}
.prof-tab h4 , .prof-tab h5{
  
    color:rgb(133, 124, 124);
    font-weight: bold;
    font-size: 26px;
    text-transform: capitalize;
  }
  .prof-tab h5{
    padding-top: 40px;
    padding-left: 10px;
  }
  .prof-sectionrow h4  .prof-tab h4
  {
    margin-top: 40px;
  }
  .prof-sectionrow div , prof-tab div {
    padding-bottom: 40px;
  }
  .prof-sectionrow div span 
  {
  color:rgb(238, 238, 238);
}
.prof-tab div span {
  color: rgb(121, 159, 241);
  font-weight: bold;
  padding-left: 30px;
  
}
.prof-sectionrow .locations div   {
  margin-left: 10px;
  padding-bottom: 20px;
}
.prof-tab .certificates div{
  margin-left: 30px;
  padding-bottom: 20px;

}
.tabs-profdoc{
  margin-top: 50px;
  margin-left: 35px;
}
.nav-tabs li a, .nav-tabs li a
 {
  background: #F4F4F4;
  color: #08c;
  font-weight: bold;
 }
 
 .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  background: rgb(221, 217, 217);
  color: rgb(66, 64, 64);
}
.tabs-profdoc .context-doc{
 margin-top: 30px;
 margin-left: 40px;
 color:rgb(144, 138, 138);
 text-transform: capitalize;
 padding-bottom: 40px;
 font-size: 22px;
 line-height: 32px;
}

.reviews-of-docs span{
  /* display: block; */
  margin-bottom: 20px;
 
}
.reviews-of-docs{
margin-left: 63px;  
}
.reviews-of-docs div:hover{
  cursor: pointer;
  padding-right: 5px;
}
.reviews-of-docs div span{
  color:orange;
}
.reviews-of-docs div span.text{
  margin-left: 20px;
  color:rgb(79, 79, 82);

}

.header-login-user{

font-weight: bold;
font-size: 17px !important;

}
.appointment-list{
 /* background-color: rgb(246, 248, 248); */
 /* background-color: #93A8C9; */
 background-color: #0f6ea1;
  height: 900px;
  margin-left: 30px;
  margin-top: 35px;
  margin-right: 10px;
  padding-top: 27px;
  /* overflow: scroll; */
}
.icon-edit{
  margin-top: -30px;
  margin-left: 20px;
  cursor: pointer;
}
.appointment-list .block-appointment{
  background:linear-gradient(#74ccff,#60c9fd,#3aabcd);
  /* margin: 10px 15px; */
  margin: 10px  15px 25px 15px;
}
.appointment-list .block-appointment  .patientname-app{

  color:#fff;
  background-color: #0f6ea1;
  padding: 5px;
  margin-left: 20px;
  margin: 7px 10px;
  text-transform: capitalize;
  font-weight: bold;

}
.appointment-list .block-appointment .fa-trash-alt, .appointment-list .block-appointment .fa-check-square{
  color:white;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}
.appointment-list .block-appointment .select-appointment{
  position: relative;
  left: 174px;
  margin-top: 6px;
}

.appointment-list .block-appointment .details-appointment{
     margin-top: 10px;
  }
.appointment-list .block-appointment .details-appointment span span{

  position: relative;
  top: -11px;
  font-size: 14px;

}
.appointment-list .block-appointment .details-appointment .fa-hospital,
.appointment-list .block-appointment .details-appointment .fa-bed , 
.appointment-list .block-appointment .details-appointment .fa-map-marker ,
.appointment-list .block-appointment .details-appointment .fa-clock
{
  color: #fff;
  font-size: 22px;
  margin-left:10px;
  margin-right: 7px;
  margin-bottom: 10px;
} 
/* .appointment-list .block-appoint{
  background-color: rgb(246, 248, 248);
   background-color: #008fe2; 
   background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); 
  width: 80%;
  margin:  auto ;
  margin-top: 30px;
  padding-top: 10px;
  transition: all ease 0.5s;
   cursor: pointer;
   box-shadow: 10px 20px 10px #444; 
  border-top:   10px solid #444;

}
.appointment-list .block-appoint:hover
{
width: 86%;
}

.info-appoint p{
  line-height: 30px;
  font-weight: bold;
} */

  /* patients */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 88%;
    transition:  all 0.5s ease;
    margin-bottom: 70px; 

  }
  .patients-block{
      margin-top: 70px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1,1.1)
  }
  .card .text h4{
      margin-top: 10px;
      color:#0088cc;
  }
  .card .text button{
      margin-bottom: 20px;
  }


  .filter-patient{
      margin-top: 30px;
      background-color: #eee;
      height: 120px;
      padding: 10px 10px;
     
  }
  .filter-patient div h3{
      margin-bottom: 20px;
  }


  /* events */
  .big-block{
    border: 2px solid #444;
    border-radius: 10px;
   background-color:#fcfcfc;
    height: 320px;
    margin-bottom: 30px;
  }
  .block1{
      margin-top: 100px;
  }
  .big-block .left-block{
  
  
     margin-top: 40px ;
    
  }
  .big-block .left-block .word-month{
    line-height: 10px;
    font-size: 34px;
    font-weight: bold;
    color:rgb(173, 173, 173);
    padding-bottom: 20px;
  }
  
  .big-block .left-block .word-day{
    margin-left: 8px;
    color: rgb(153, 151, 151);
    font-weight:bold;
    font-size: 26px;
  
  }
  .big-block .middle-block{
    margin-top: 40px ;
    margin-left: -50px;
  }
  .big-block .middle-block .title-event{
    padding-bottom: 10px;
    font-size: 28px;
    margin-left: -64px;
    font-weight: bold;
    color:rgb(10, 152, 235);
  
  }
  .big-block .middle-block .place-event{
    color: rgba(9, 7, 122,1);
    font-family: bold;
    margin-left: -58px;
    font-size: 20px;
    padding-bottom: 24px;
  }
  .big-block .middle-block .location-event{
  
    color:rgb(153, 151, 151);
    margin-left: -58px;
  }
  .big-block .middle-block .location-event span{
    padding-left: 15px;
  }
  .big-block .middle-block .location-event i{
    padding-right: 5px;
  }
  
  .big-block .right-block{
    margin-top: 40px;
    margin-left: 40px;
  
  }
  .big-block .right-block .img-event img{
    transition:  all  0.3s ease;
    border-radius:10px;
  }
  .big-block .right-block .img-event img:hover{
    transform: scale(1,1.5);
    -ms-transform: scale(1,1.3); 
    -webkit-transform: scale(1,1.3); 
   
  }
  .panel-event{
    background-color:rgb(232, 228, 228);
    margin-top: 55px;
    height: 55px;
  }
  .panel-event .details-event{
    padding-top: 16px ;
    padding-left: 10px;
    cursor: pointer;
    transition: all  .5s ease;
  }
  
  .panel-event .details-event a:hover{
     text-decoration: underline;
     color:#444;
  }
  @media(min-width:768px)and  (max-width:992px)
  {
  
  
  }
  /*  appointment page  */
  /*-------------------------------------appointment page-> show all the appointment-------------------------------- */
/* *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
     */
    
    
    ul.main { 
      list-style: none;
      max-width: 75%;
      margin: 20px auto;
    }
    h3 {padding: 0; margin: 0;}
    
    
    .appointment-date {
      width: 20%;
      padding: 15% 4% 0 0 ;
      float: left;
    }
    
    .appointment-date h3 {
      font-size: 1.5em;
      color:#008fe2;
    }
    
    .appointment-date p {
      font-size: .8em;
    }
    
    .appointment-events {
      float: left;
      width: 80%;
      border-left: 1px solid #ccc;
      margin-top: 10%;
      padding-top: 3%;
    }
    
    .events-detail {
      max-width: 550px;
    }
    
    .events-detail li{
      padding: 10px;
      border-bottom: 1px dashed #ccc;
      line-height: 22px;
      transition: ease .4s all;
    }
    
    .events-detail li:hover {
      background: #e9e9e9;
    }
    
    .event-time {
      font-weight: 900;
      color:#1788cc;
    }
    
    .events-detail li a {
      text-decoration: none;
      color: #444;
      width: 100%;
      height: 100%;
      display: block;
    }
    
    .event-location {
        font-size: .8em;
        color:#ee4242;
        margin-left: 70px;
        font-weight: bold;
    }
    
    
    
    @media all and (max-width: 641px) {
        .appointment-date {
          width: 100%;
          border-bottom: 1px solid #ccc;
          margin-bottom: 10px;
        }
      
      .appointment-events {
        border:none;
        width: 100%;
        margin-top: 0;
      }
      
      .events-detail {
        padding: 0;
      }
      
      li.date p {
        margin:0;
      }
    }
    /*button add appointment*/
    .btn-appointment {
        position: absolute;
        right: -517px;
        margin-top: 35px;
        background-color:  #1788cc;
    }
  
  
  .input-search{
  height: 45px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 35px;
    margin-left: 114px;
    width: 30%;
    transition: all .4s ease;
  }
  .input-search:hover{
    width: 70%;
   
  }
  .search i{
    font-size: 24px;
     margin-top: 35px;
  }
  /* total rates for dr profile */
.profiledr{
    height: 350px;
    background-color: #f6f8f8;
    margin-top: 80px;
    margin-left: 0px;
  }
  .orange{
    color: orange;
  }
  .total-rates{
   margin-left: -10px;
   margin-top: 30px;
   margin-bottom: 10px;

  }
  .hiddenabout{
    display: none;
  }
  .section-worksin{
    background-color: #e9eaf1;
    height: 270px;
    margin-top: 257px;
    margin-left: 10px;
    border:10px solid rgb(148, 147, 147);
    box-shadow: 10px 10px 8px #444;
}
.section-worksin h5{
  color:#008fe2;
  font-size: 24px;
  padding-top: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-worksin .locations{
  margin-left: 30px;
}
.section-worksin .locations .dot{
  color:#008fe2;
  padding-right: 5px;
  font-size: 26px;

}
.section-worksin .locations div{
  color: #444;
  font-size: 20px;
}
.proff button{
  margin-left:10px;
  margin-top: 30px;
}
.blue{
  color:#008fe2;
}
/* __________________________block-prof-dr__________________________ */
.block-prof-dr{
  border: 2px solid #eee;
  border-radius: 13px;
  box-shadow: 10px 10px 10px #444;
  width: 222px;
  margin-bottom: 50px;
  margin-top: 10px;
}
.block-prof-dr img {
  border-radius: 13px;
  transition:  all ease 0.7s;
}
.block-prof-dr:hover{
  transform: scale(1.1,1.1);
}

.block-prof-dr .blockinfo-profdr  h3{
padding-top: 10px;
font-weight: 400;
color: #444;
}
.block-prof-dr .blockinfo-profdr p{
  font-size: 16px;
  padding-left: 63px;
  margin-top: 10px;
}
.block-prof-dr .blockinfo-profdr{
  transition:  all ease 0.6s; 
}
.block-prof-dr .blockinfo-profdr:hover{
  background-color: #d6d8da;
  border-radius: 13px;
} 
.block-prof-dr .blockinfo-profdr p  a i{
  margin-left: 50px;
}
.blockinfo-profdr .btn-prof{
  margin-left: 166px;
  margin-bottom: 18px;
}
/* __________________________________one event _______________________________- */
.background-event{
  background-color: #0088cc;
  height: 200px;
  margin-top: 30px;

}
.background-event h2{
  color:#fff;
  text-align: center;
  padding-top: 25px;
  margin-bottom: -10px;
}
.event-img {
  margin-left: 220px;
  margin-top: -90px;
}
.event-img img{
  border: 10px solid #fff;
box-shadow: 10px 10px 10px #444;
}
.event-date{
  background-color: #da7940;
  margin-top: 50px;
  margin-left: 50px;
}
.event-date p ,.event-date h3 {
  margin-bottom: -3px;
  color:#fff;
}
.event-title h1{
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 9px;
}
.event-title span{
  padding-left: 10px;
}
.event-blog{
  margin-top: 40px;

}
.event-blog div{
  line-height: 25px;
  color:#444;
}
/*---------------------------------- calendar ------------------------------------------*/
#calendar{
  margin-top: 30px;
  margin-bottom: 60px;
}
 .fc-prev-button{
  position: relative;
  left: -800px;
  margin-top: 20px !important;
  margin-bottom: 10px;
} 
#myModal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0, 0, 0, 0.644); 
  
} 

/* Modal Content */
 .modal-content {
  background-color: #faf8f8;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  margin-top: 50px;
  height: 700px;
}  
.panel-heading{
  width: 50%;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
 .fc-next-button{
  position: relative;
  right:150px;
  margin-top: 20px !important;
  margin-bottom: 10px;

} 

 .fc-right .fc-today-button {
  position: relative;
  right: -84px;
  margin-top: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
  background-color:#0088cc;

} 
/* .fc-state-hover{
  background-color: rgb(95, 90, 90);
color:#0088cc; 
}*/
/* .fc-icon{
  color:white;
} */
.fc-left h2{
  color:rgb(184, 182, 182);
  font-size: 40px;
  font-weight: bolder;
  position: relative;
  left: 370px;
  margin-top: 10px !important ;
}
 table thead tr{
  height: 50px;
} 
.fc-day-header {
 padding-top: 15px !important;

}
.fc-day-top{
  font-size: 28px;
  font-weight: bold;
 position: relative;
 top: 45px;
 right:55px;
}

.fc-day:hover{
  background-color: #eee !important;
  cursor: pointer;

}

.listofappointments{
  margin-top: 40px;
}
 .listofappointments ul{
 list-style: none;

} 
.listofappointments ul li{
  padding: 10px;
  background-color: #08c;
  margin-bottom: 5px;
  border: 2px solid #eee;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  width: 90%;
  text-transform: capitalize;
  transition: all ease 0.5s;

} 
.listofappointments ul li span{
  font-size: 21px;
  background-color: #0b3d5a;
  padding: 9px 30px;
  border-top-left-radius:20px; 
  border-bottom-left-radius:20px; 
  margin-left: -10px;
  margin-right: 10px;
  
}
.listofappointments ul li:hover{
  width: 100%;
}
.listofappointments ul li  .fa-map-marker{
  margin-left: 20px;
}
/*__________________________ accordien in calendar________________ */
.accordion {
  width: 40%;
  margin: 0 auto;
}

.mainWrap {
  color: #08c;
  font-weight: normal;
  position: relative;
  background: #fff;
  margin: 0 auto;
  padding: 10px 10px 10px 50px;
  display: block;
  cursor: pointer;
}
.mainWrap .fa-plus{
  font-size: 24px;
}

.mainReveal {
  /* border: 1px solid #444;
  background: #ebeaea;
  color: #000; */
  padding: 0px 15px;
  margin: 0 0 10px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.hideMe:checked ~ .mainReveal{
  height: auto;
  opacity: 1;
  padding: 15px;
}
/* .hideMe:checked ~ .icon:before {
  content: '-';
  font-size: 1.9em;
  line-height: .4em;
} */

.hideMe {
  display: none;
}

/* ______________________________new profile______________________ */
.profpic{
  margin-top: 80px;
  margin-left: -50px;
  z-index: 1;
}
.profpic img{
  border: 10px solid #eee;
  /* box-shadow: 10px 10px 10px #444; */

}
.detailsaboutdr{
  margin-top: 140px;
  margin-left: 70px;
}
.detailsaboutdr .topics h2{
  color:#0b3d5a;
  font-weight: bold;
  line-height: 25px;
  font-size: 28px;
  text-transform: capitalize;

}
.rowabout{
  background: #eee;
  height: 400px;
  margin-top: 0px;
  width: 115%; 
   margin-left: -90px; 
   z-index: 0;
   position: relative;
   top: -52px;
}
.aboutdr h2{
  padding-top: 90px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 28px;
}
.aboutdr p{

  font-size: 18px;
  padding-left: 25px;
}
.aboutdr button{
  border-radius: 10px;
  margin-left: 30px;
}
.block-personaldetails{
  background-color: #fff;
  margin-top: 120px;
  box-shadow: 10px 10px 10px #444;
}
.block-personaldetails h4{
  padding-top: 30px;
}
.block-personaldetails .firstrowdetails p , .block-personaldetails .secondrowdetails p{
  font-weight: bold;
  color: #444;
  padding-left: 18px;
}
.block-personaldetails .firstrowdetails p span , .block-personaldetails .secondrowdetails p span {

  color:rgb(158, 156, 156);
  font-size: 12px;
}
.block-personaldetails .secondrowdetails{
margin-left: -30px;
}
/* _______________________block of timeline _________________________ */

.experience-block .rangeexp{

  background-color: #08c;
  margin-top: 130px;
  margin-left: -80px;
 
  
}

.experience-block .rangeexp p{
  color:#fff;
  padding-top: 30px;
  padding-left: 10px;
}
.experience-block .rangeexp p span , .experience-block .rangeexp div span {
  margin-left: 40px;
}
.experience-block .rangeexp div  {
  color:#fff;
  line-height: 5px;
  font-size: 12px;
}
.experience-block .rangeexp div.nameofcompany{
  padding-top: 30px;
  color:orange;
  font-size: 18px;
  font-weight: bold;
}
.experience-block .rangeexp div.placeofcompany{
  line-height: 5px;
  font-weight: bold;
  margin-top: -21px;
  padding-bottom: 5px;
  
}
.detailsofexp{
background-color: #eee;
margin-top: 130px;
margin-left: -31px;
width:116%;
height: 165px;

}
.detailsofexp h4{
padding-top: 18px;
padding-left: 50px;
text-transform: capitalize;
font-weight: bold;
font-size: 28px;
}
.detailsofexp p{
  /* padding:  0px 0px 50px 0px;  */
padding-left: 50px;
padding-bottom: 13px;

}
.experiencedoctor{
  margin-bottom: 50px;
  color:orange;
  font-weight: bold;
  margin-left: -51px;
}
/*_____________________________ line ________________________*/
.line{
  width: 10px;
  height: 450px;
  background-color: gray;
}
.circleinline{
  border-radius: 50%;
  background-color:#08c;
  width: 18px;
  height: 20px;
  position: relative;
  top:128px;
  left: -3px;
}
.circle2line{
  border-radius: 50%;
  background-color:#08c;
  width: 18px;
  height: 20px;
  position: relative;
  top:598px;
  left: -140px;
}

/* __________________timeline from el template ____________________*/
.triangle {
  display: inline-block;
  margin: 0 3px;
  vertical-align: middle;
}
.triangle-2 {
  width: 20px;
  position: relative;
  top: -137px;
  left: -103px;
  height: 30px;
  border-right: solid 30px #08c;
  border-bottom: solid 30px transparent;
  border-top: solid 30px transparent;
}
/* slider eduaction */
section.section {
  background: #faf8f8;
  border-top: 3px solid #f1f1f1;
  margin: 93px -45px;
  padding: 30px 23px;
  width:122%;
}
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 70px;
}
.custom-box-details-2{
  padding: 10px 30px;
}
.text-color-quaternary{
  font-size: 28px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.section{
  width: 120%;
}
.sendbtn{
  margin-bottom: 20px;
}
/* awards */
.thumb-info .thumb-info-action-icon {
  background-color: #eff2f4;
}


/* doctor small item */
.docdetails{
  
  display:inline-block;
  width: 317px;
  margin-right: 36px;
  height:390px;
 border:1px solid rgb(221, 221, 221);
 transition: all ease 0.7s;
}
.docdetails:hover{
  transform: scale(1.1);
}
.docdetails img{
  width:315px;
  height: 200px;
  margin-bottom: 10px;
  margin-left: -15px;
}
.docdetails .aboutdoc h4{
  text-transform: capitalize;
  color:#0b3d5a;
  font-weight: bold;
  margin-bottom: 0px;
 
}
.docdetails .aboutdoc .docRates{
  margin-bottom: 13px;
  margin-top: -10px;
}
.docdetails .aboutdoc button{
  margin-right: 10px;
}
.thumb-info-action-icon p{
  width: 100%;
  margin: 72px -50px;
  color:#fff;
}