<div class="row mt-lg">
        <div class="header-search hidden-xs">
    <form id="searchForm" method="post">
        <div class="input-group">
            <input type="text" value="" class="form-control" name="textSearch" id="q" placeholder="Search..." required>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            <span>
                <a href="#" routerLink="/add">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </div>
    </form>
    </div>
    <app-department-item-small *ngFor="let dept of departments" [department]="dept"></app-department-item-small>
</div>