
<div class="row">
    <div class="filter">
        <h3> Find Your Doctor</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="part">
                        <!-- <label > Doctor Name</label> -->
                        Doctor Name   <input class="inpts " list="drsname">
                        <datalist id="drsname">
                          <option value="Ahmed">
                          <option value="mohamed">
                          <option value="ali">
                          <option value="hassan">
                          <option value="hossam">
                        </datalist>

                </div>

            </div>
            <div class="col-md-3">

                <div class="part">
                        <!-- <label> Specialist</label> -->
                        Specialist  <input class="inpts " list="specialist">
                        <datalist id="specialist">
                                <option value="Dermatologist">
                                <option value="Radiologist">
                                <option value=" Psychologist">
                                <option value="Anesthesiologist">
                                <option value="Dentist">
                                 <option value="Bones">
                              </datalist>

                </div>
            </div>
            <div class="col-md-3">
                <div class="part">
                        <!-- <label> City Name</label> -->
                        City Name  <input class="inpts " list="city">
                        <datalist id="city">
                                <option value="giza">
                                <option value="haram">
                                <option value="nasrcity">
                                <option value="6-october">
                                <option value="manial">
                              </datalist>

                </div>

            </div>

            <div class="col-md-2">
                    <input type="submit" value="Search Now" class="btn btn-primary  text-uppercase font-size-sm">
            </div>
        </div>

    </div>
</div>