
<!-- <app-header></app-header> -->
<!-- <app-events></app-events> -->
<!-- <app-footer></app-footer> -->
<!--The content below is only a placeholder and can be replaced.-->
  <!-- <app-hospitals></app-hospitals> -->
<!-- 
 <app-departments></app-departments> 
<app-event-add></app-event-add>
<app-event-details></app-event-details> -->
<!-- <app-event-listing></app-event-listing> -->
<!-- <app-doctor-schedule></app-doctor-schedule> -->
<!-- <app-doctor-item-small></app-doctor-item-small>  -->
<!-- <app-home-Doctor></app-home-Doctor> -->
<!-- <app-assign-shift></app-assign-shift>-->
 <!-- <app-doctor-details> </app-doctor-details> -->
 <!-- <doctor-calendar></doctor-calendar> -->
 <!-- <app-doctors> </app-doctors> -->
 <app-hospital-header></app-hospital-header>
 <router-outlet></router-outlet>
 <app-hospital-footer></app-hospital-footer>
 


