<div role="main" class="main">
<section class="section section-no-background section-no-border m-none p-none">
  <div class="container">
    <div class="row mb-xl">

      <div class="col-md-12">

        <h3 class="mt-xlg pt-xlg mb-none pb-none text-uppercase">{{department.name}}
          <a href="#"><i class="fa fa-pencil"></i></a>
        </h3>
        <div class="divider divider-primary divider-small mb-xl mt-none">
          <hr class="mt-sm">
        </div>

        <div class="row">
          <div class="col-md-7">

            <p class="mt-lg lead">{{department.briefDesc}}</p>

            <p class="mt-lg">{{department.detailedDesc}}</p>

            <div class="room-suite-info">
              <ul>
                <li>
                  <label>Rooms</label>
                  <span> 20</span>
                </li>
                <li>
                  <label>Beds</label>
                  <span> 35</span>
                </li>
                <li>
                  <label>doctors</label>
                  <span> 10</span>
                </li>
              </ul>
            </div>

          </div>
          <div class="col-md-5">

            <div class="owl-carousel owl-theme nav-inside box-shadow-custom mt-xl" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}">
              <div>
                <img src="../../../assets/img/demos/hotel/room-1.jpg" class="img-responsive" alt="">
              </div>
              <div>
                <img src="../../../assets/img/demos/hotel/room-2.jpg" class="img-responsive" alt="">
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
</section>
</div>