<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="tabs tabs-bottom tabs-left tabs-simple">
        <ul class="nav nav-tabs">
          <li class="">
            <a href="#tabsNavigationSimple1" data-toggle="tab" aria-expanded="false">Initial physician assesment</a>
          </li>
          <li class="">
            <a href="#tabsNavigationSimple2" data-toggle="tab" aria-expanded="false">Admission Office&Pt.i.D</a>
          </li>
          <li>
            <a href="#tabsNavigationSimple3" data-toggle="tab">H & P Physician Progress</a>
          </li>
          <li class="active">
            <a href="#tabsNavigationSimple4" data-toggle="tab" aria-expanded="true">Consultation & therapy</a>
          </li>
          <li class="">
            <a href="#tabsNavigationSimple5" data-toggle="tab" aria-expanded="true">Physician Sheet</a>
          </li>
        </ul>
        <div class="tab-content">
          <!--=====assesment=======-->
          <div class="tab-pane" id="tabsNavigationSimple1">
            <div class="left" style="border: grey 2px solid; padding:25px">

            </div>
          </div>

          <!--===============admission============-->
          <div class="tab-pane" id="tabsNavigationSimple2">
            <div class="left" style="border: grey 2px solid; padding:25px">

            </div>
          </div>
          <!-- ===========physician progress==============-->
          <div class="tab-pane" id="tabsNavigationSimple3">
              <div class="left" style="border: grey 2px solid; padding:25px">

              </div>
          </div>
          <!--======================consultation================-->
          <div class="tab-pane active" id="tabsNavigationSimple4">
            <div class="left" style="border: grey 2px solid; padding:25px">

            </div>
          </div>
          <!--==================physician sheet==========-->
          <div class="tab-pane active" id="tabsNavigationSimple5">
            <div class="left" style="border: grey 2px solid; padding:25px">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
