<section class="section-secondary">
  <div class="container">
    <div class="row mt-xlg pt-md mb-xlg pb-md">
      <div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options="{'items': 1, 'loop': false, 'dots': false}">
        <div>
          <div class="col-md-8 col-md-offset-2 pt-xlg">
            <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
              <div class="testimonial-quote">“</div>
              <blockquote>
                <p class="font-weight-light">It is health that is real wealth and not pieces of gold and silver.</p>
              </blockquote>
              <div class="testimonial-author mt-xlg">
                <p class="text-uppercase">
                  <strong>Mahatma Gandhi</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="col-md-8 col-md-offset-2 pt-xlg">
            <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
              <div class="testimonial-quote">“</div>
              <blockquote>
                <p class="font-weight-light">It is health that is real wealth and not pieces of gold and silver.</p>
              </blockquote>
              <div class="testimonial-author mt-xlg">
                <p class="text-uppercase">
                  <strong>Mahatma Gandhi</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
