<div class="container">
  <div class="row">

    <div class="col-md-2">
      <section class="menu-side">
        <ul class="menu">

          <li title="Profile">
            <a routerLink="/doctorProfile/{{doctor.id}}" class=" active dashboard"> Profile</a>
          </li>
          <li title="Doctors">
            <a routerLink="/doctorProfile/{{doctor.id}}/ddoctors" class="doctors">Doctors</a>
          </li>
          <li title="Patients">
            <a routerLink="/" class="patients">Patients</a>
          </li>
          <li title="Add-Prescription">
            <a routerLink="/prescription" class=" add-prescription">Add-prescription</a>
          </li>
          <li title="events">
            <a routerLink="/" class="schedule">Events</a>
          </li>
          <li title="Appointment">
            <a routerLink="/doctorProfile/{{doctor.id}}/calendar" class="appointment">Schedule</a>
          </li>
          <li title="Messages">
            <a routerLink="/" class="messages">Messages</a>
          </li>
          <!-- <li title="Reports">
              <a href="#" class="reports">Reports</a>
            </li> -->

        </ul>

      </section>
  
    </div>
    <div class="col-md-9">
      
      <router-outlet></router-outlet>
    </div>
  
  </div>