
    <div class="col-md-3 docdetails ">
        <img src="../../../assets/img/detail.jpg" >
        <div class="aboutdoc text-center">
            <h4> {{doctor.name}} </h4>
            <h5> {{doctor.speciality}} </h5>

            <div class="row">
                <div class="docRates">
                    <i class="fa fa-star orange"></i>
                    <i class="fa fa-star orange"></i>
                    <i class="fa fa-star orange"></i>
                    <i class="fa fa-star orange"></i>
                    <i class="fa fa-star-half orange"></i>

                </div>
            </div>
            <button class="btn btn-primary" routerLink="/doctor-details/{{doctor.id}}" >See Profile</button>
            
            <button class="btn btn-default "> Book An Appointment </button>

        </div>


    </div>
 
