<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="background-event">
          <h2> Events </h2>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="event-img">
          <img src="../../../assets/img/detail.jpg" width="600" height="280">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">

        <div class="event-date text-center">
          <p> Nov</p>
          <h3 class="bold">10 </h3>
          <p> 2018</p>

        </div>

      </div>

      <div class="col-md-9">
        <div class=" event-title">
          <h1> Medical Conference in blabla</h1>
          <span>
            <i class="far fa-clock"></i> 5:00 pm </span>
          <span>
            <i class="fas fa-map-marker-alt "></i> Smart Village</span>
        </div>

        <div class="event-blog">

          <div>

            lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat, est a finibus lobortis, eros justo rutrum est, in fringilla
            arcu ligula ornare mauris. Donec efficitur mi eget eros suscipit rhoncus. Nulla aliquet faucibus est, a ornare
            neque pellentesque quis. Nunc id volutpat magna. Sed tincidunt convallis cursus. Quisque maximus nulla eget
            turpis condimentum congue. Lorem ipsum. lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat,
            est a finibus lobortis, eros justo rutrum est, in fringilla arcu ligula ornare mauris. Donec efficitur mi eget
            eros suscipit rhoncus. Nulla aliquet faucibus est, a ornare neque pellentesque quis. Nunc id volutpat magna.
            Sed tincidunt convallis cursus. Quisque maximus nulla eget turpis condimentum congue. Lorem ipsum. lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Sed feugiat, est a finibus lobortis, eros justo rutrum est, in
            fringilla arcu ligula ornare mauris. Donec efficitur mi eget eros suscipit rhoncus. Nulla aliquet faucibus
            est, a ornare neque pellentesque quis. Nunc id volutpat magna. Sed tincidunt convallis cursus. Quisque maximus
            nulla eget turpis condimentum congue. Lorem ipsum.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>