<div style="padding-bottom: 15px">
    <h5 class="center">
      <b>Consultation Order</b>
    </h5>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Date: {{consultation.date}} </p>
    </div>
    <div class="col-md-6">
      <p>Hospital Name: {{consultation.hospitalName}}</p>
    </div>
  </div>
  
  <div class="row">
      <div class="col-md-6">
          <p>To Department: {{consultation.toDepartment}} </p>
        </div>
        <div class="col-md-6">
          <p>From Department: {{consultation.fromDepartment}}</p>
        </div>
  </div>
  
  <div class="row">
      <div class="col-md-12">
          <p>Reason For Request: {{consultation.reasonForRequest}} </p>
        </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
        <p>Response For Request: {{consultation.responseForRequest}}</p>
    </div>
  </div>

